<div class="add-container" *ngIf="!friend && !actionDone">
    <button mat-button (click)="addFriend()" class="add">Ajouter en ami</button>
</div>

<div *ngIf="friend?.senderId != user._id">

    <div *ngIf="friend?.status == statusWaiting && !actionDone" class="done">
        <p>En attente</p>
        <button mat-menu-item (click)="cancelFriend(friend)" #titleTooltip="matTooltip"
        matTooltip="Annuler"
        [matTooltipPosition]="position.value"
        aria-label="Cancel friend">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="friend?.senderId == user._id">
    <div *ngIf="friend?.status == statusWaiting && !actionDone" class="done">
        <p>Invitation reçue</p>
        <button mat-menu-item (click)="acceptFriend(friend)" #titleTooltip="matTooltip"
        matTooltip="Accepter"
        [matTooltipPosition]="position.value"
        aria-label="Accept friend">
            <mat-icon>check</mat-icon>
        </button>
        <button mat-menu-item (click)="declineFriend(friend)" #titleTooltip="matTooltip"
        matTooltip="Refuser"
        [matTooltipPosition]="position.value"
        aria-label="Decline friend">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="friend?.status == statusAccepted" class="done">
    <p class="friend">Amis</p>
    <button mat-menu-item (click)="deleteFriend(friend)" #titleTooltip="matTooltip"
    matTooltip="Supprimer"
    [matTooltipPosition]="position.value"
    aria-label="Delete friend">
        <mat-icon class="friend">close</mat-icon>
    </button>
</div>
