<header>
    <img src="../../../assets/img/logo.png" alt="peach-logo" class="logo">
    <p class="title">Peach</p>
</header>
<div class="wrapper">
    <div id="formContent">
        <div class="label">
            <h2 class="underlineHover" routerLink="/dashboard/user" routerLinkActive="active">Utilisateurs</h2>
            <h2 class="underlineHover" routerLink="/dashboard/post" routerLinkActive="active">Posts</h2>
            <h2 class="underlineHover" routerLink="/dashboard/topic" routerLinkActive="active">Topics</h2>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
