@import 'src/assets/styles/theme.scss';

header{
    display: grid;
    grid-template-columns: 20% 90%;
    margin: 10px auto 25px auto;
    width: 90%;
    max-width: 350px;
    .title{
        color: $gray;
        font-family: 'Courgette', cursive;
        font-size: 5em;
        font-weight: bold;
        margin: 40px 0px;
        padding: 0px;
        text-align: center;
        width: 100%;
    }
    .logo{
        height: 75px;
        margin: 15px;
        width: 75px;
    }

}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  
    .label{
        margin-top: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
    }
  }

  .disconnect{
    cursor: pointer;
    text-align: center;
    color: $tumbleweed;
    margin-top: 100px;
  }