<mat-accordion >
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            POSTS
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="!loaderActive">
            <div *ngIf='userPosts' class="user-posts">
                <div *ngFor='let item of userPosts' class="for-container">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>
                            <p class='author'>{{ item.post.authorName }}</p>
                            <div>
                                <p class="time">{{ item.duration }} {{ item.format }}</p>
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="openDialog(item)">
                                        <mat-icon>update</mat-icon>
                                        <span>Modifier</span>
                                    </button>
                                    <button mat-menu-item (click)="deletePost(item.post._id)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Supprimer</span>
                                    </button>
                                </mat-menu>
                            </div>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="post-content">{{ item.post.content }}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="stats">
                                <div class="like" *ngIf="item.liked.liked">
                                    <mat-icon class="apricot pointer" (click)="unlike(item)">thumb_up</mat-icon>
                                    <p>{{item.like?.length}}</p>
                                </div>
                                <div class="like" *ngIf="!item.liked.liked">
                                    <mat-icon class="pointer" (click)="like(item)">thumb_up</mat-icon>
                                    <p> {{item.like?.length}} </p>
                                </div>
                                <div class="coms">
                                    <p>{{item.postCom?.length}}</p>
                                    <mat-icon class="pointer apricot" (click)="openPostComDialog(item.post)"> comment</mat-icon>
                                </div>
                            </div>
                        </mat-card-actions>
                        </mat-card>
                </div>
            </div>
            <p *ngIf="userPosts.length < dbCount" class="more apricot pointer" (click)="more()">Afficher plus de post</p>
            <div classe="none">
                <p *ngIf="userPosts.length == 0">Aucun post</p>
            </div>
        </div>
        <app-loader-card *ngIf="loaderActive"></app-loader-card>
      </mat-expansion-panel>
</mat-accordion>

