<header>
    <img src="../../../assets/img/logo.png" alt="peach-logo" class="logo">
    <p class="title">Peach</p>
</header>
<div class="wrapper">
    <div id="formContent">
        <div class="label">
            <h2 class="underlineHover">Administrateur</h2>
        </div>
        <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
            <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailAddressRegex" required [ngClass]="{'invalid-textbox' : signInForm.submitted && !email.valid}">
            <div *ngIf="signInForm.submitted && email.errors?.pattern">
                <label class="validation-message">Invalid email address.</label>
            </div>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="8" [ngClass]="{'invalid-textbox' : signInForm.submitted && !password.valid}">
            <div *ngIf="signInForm.submitted && password.errors?.minlength">
                <label class="validation-message">Minimum 8 characters.</label>
            </div>
            <input type="submit" name="submit" value="Connexion">
        </form>
        
        <!-- Error messages -->
        <div class="alert" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
        </div>
    </div>
</div>
<p class="current" routerLink="/login" routerLinkActive="active">Utilisateur</p>
