<div class="postcom-container">
    <div *ngIf="topicMessageList?.length > 0" class="postcom-loop">
        <div *ngFor="let item of topicMessageList" class="postcom">
            <div class="postcom-top">
                <div class="info">
                    <p>{{item.authorName}}</p>
                </div>
                <div class="top-right">
                    <p class="time">{{item.duration}} {{item.format}}</p>
                    <button class="authorDelete" (click)="adminDeleteMessage(item)" #titleTooltip="matTooltip"
                    matTooltip="Supprimer le message"
                    [matTooltipPosition]="position.value"
                    aria-label="Delete postCom">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <p class="content">{{item.content}}</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="topicMessageList?.length == 0">
        <p>Aucun message</p>
    </div>
</div>
